body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    perspective: 1000px;
}

.new-amsterdam {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.crest {
    width: auto;
}

.crest img {
    max-height: 100px;
}

.border {
    width: 2px;
    height: 300px;
    background-color: gray;
    display: block;
}

@media (min-width: 1000px) {
    .border {
        height: 600px;
        width: 5px;
    }
    .crest img {
        max-height: 325px;
    }
    .container {
        gap: 24px;
        font-size: 8rem;
    }

}